/result
/source
dist-newstyle
/.cache/vale/*
!/.cache/vale/config/
/.cache/vale/config/*
!/.cache/vale/config/vocabularies/
/.cache/vale/config/vocabularies/*
!/.cache/vale/config/vocabularies/no-layout-rule/
!/.cache/vale/Vocab/
/.cache/vale/Vocab/*
!/.cache/vale/Vocab/no-layout-rule/
/.local/state/project-manager/
/.local/state/nix/profiles/
/.cache/direnv/
